/* searchBar css */

.btn-secondary {
    background-color: transparent;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}

.react-datepicker-wrapper{
    width: 100%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: gray;
}